.InfoCategory
{
	margin:3% 0% 0% 20%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#6CF;
}
.ProductSubmitbutton
{
	width:120px;height:31px;	
}
.Productformpurpose
{
    margin:3% 0% 0% 0%;
}
.PCategorysize
{
	width:100%;
}
