@charset "utf-8";
/* CSS Document */
.textfield
{
background-color:#353535;
color:white;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
}
.hrLine
{
	width:100%;
}
.marginFields
{
	margin:2% 0% 0% 25%;
}
sup
{
	color:red;
}
.fieldName
{
    color:#99CCFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
}
.errorfield
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:red;
}
.ServerSideMsgs
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:red;
	text-align:center;
}
.ServerSideOkMsgs
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#0F0;
	text-align:center;
}
.mouseon_button:hover
{
	color:#6CF;
	border:groove medium #6CF;
}
.buttonDesign
{
	margin:5% 0% 0% 0%;
	color:#fff;
	font-size:medium;
	background-image:url(../images/button1.jpg);
	border:groove medium #353535;
	background-repeat:no-repeat;	
}
.Resetbutton
{
	width:100px;height:31px;	
}
.formpurpose
{
	color:red;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	text-align:right;
}
